*.swp*
.DS_Store
Board_Firmware/*.*/dist/
Board_Firmware/*.*/build/
Board_Firmware/*.*/nbproject/Makefile-*.*
Board_Firmware/*.*/nbproject/private/
controller/bin/main
controller/bin/oldmain
controller/cli/cli
Board_Firmware/16LF18325-R1.X/.ca/
